@charset "UTF-8";
html, body {
    min-height:100%
}

body {
    margin: 0;
    background: beige;
    font-family:helvetica, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}

header {
    text-align: center;
}

#login-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#login-btn:hover, #login-btn:focus {
  background-color: #16437E;
  color: #ffffff;
}

#product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-evenly;
    gap: 10px;
}

#product-overlay {
    background: white;
    overflow: hidden;
    width: 500px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 0px 20px gray;
    transition: height 0.2s ease-out;
}

#product-overlay img {
    display: block;
    height: 40%;
    margin: auto;
    margin-top: 20px;
}

.open {
    height: 500px !important;
}

.product {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 10px lightgray;
    overflow:hidden;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: end center;
    cursor: pointer;
}

.product > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.product img {
    height: 250px;
    padding: 25px;
}

.extra-info {
    height: 60px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(192,192,192,1));
    transition: height 0.25s ease;
}

.extra-info > * {
    padding-left: 10px;
    padding-right: 10px;
}

.product:hover .extra-info {
    height: 150px;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
