@charset "UTF-8";
html, body {
    min-height:100%
}

body {
    margin: 0;
    background: #FFFFF7;
    font-family:helvetica, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}

header {
    text-align: center;
    margin: 30px;
    height: 30px;
}

header > * {
    height: 30px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn {
    display: block;
    cursor: pointer;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    mask-size: 60% !important;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    background-color: darkgray;
    color: darkgray;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    line-height: 30px;
    height: 30px;
    min-width: 30px;
}

#login-btn {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z'/%3E%3C/svg%3E");
}

#add-btn {
    display: none;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z'/%3E%3C/svg%3E");
}

.nav-btn:hover {
  background-color: #292929;
}

#product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-evenly;
    gap: 10px;
}

#product-overlay {
    background: white;
    overflow: hidden;
    width: 500px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 0px 20px gray;
    transition: height 0.2s ease-out;
}

#product-overlay img {
    display: block;
    height: 40%;
    margin: auto;
    margin-top: 20px;
}

#product-overlay > * {
    padding-left: 20px;
    padding-right: 20px;
}

.open {
    height: 500px !important;
}

.product {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 10px lightgray;
    overflow:hidden;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: end center;
    cursor: pointer;
}

.product > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.product img {
    height: 250px;
    padding: 25px;
}

.extra-info {
    height: 60px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(192,192,192,1));
    transition: height 0.25s ease;
}

.extra-info > * {
    padding-left: 10px;
    padding-right: 10px;
}

.product:hover .extra-info {
    height: 150px;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
